body{
    background-image: url("img/Фон\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}



.header{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
}

.logo{
    font-weight: 700;
font-size: 22px;
line-height: 22px;
color: white;
align-self: center;
padding-left: 79px;
text-decoration: none;
}

.logo:hover {
    color: #01813F;
    
}

.vectore{
    display: flex;
    height: 24px;
    padding-right: 79px;
    
}

.svg{
    padding-top: 17px;
    padding-right: 25px;
    fill: white;
}

.svg:hover path{
    fill: #01813F;
    background: #000000;
mix-blend-mode: normal;
opacity: 0.41;
}


.welkome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 400;
font-size: 14px;
line-height: 14px;
color: white;
margin-top: 31px;
text-decoration: none;
}

.welkome::before{
    content: "";
    display: block;
height: 19px;
    border-right: 1px solid;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.5; 
    margin-right: 27px;
}

.welkome:hover{
    background: #000000;
mix-blend-mode: normal;
opacity: 0.41;
}

.welkome:hover .green_welcome{
    color: #01813F;
 
}

.menu{
    width: 444px;
    height: 608px;
    background: white;
   position: absolute;
   top: calc(50% - 304px);
   left: calc(50% - 222px);
}

.sign_login{
    display: flex;
    justify-content: space-between;
}


.sign_Up{ 
    color: #434343;
    height: 14px;
    font-weight: 400;
font-size: 20px;
line-height: 20px;
margin-top: 31px;
margin-left: 60px;
 position: relative;
 cursor: context-menu;
}

.sign_Up::after{
content: "";
display: block;
width: 18px;
height: 18px;
background: #3CB878;
position: absolute;
top: 0;
left: -60px;
}

.log_in{
    font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #3CB878;
text-decoration: none;
margin-top: 33px;
margin-right: 60px;
}

.log_in:hover{
    color: #01813F;
text-decoration:underline;
}

.bottom_fs_g{
    display: flex;
    gap: 8px;
    margin-top: 16px; 
}

.btn{
    width: 157px;
    height: 46px;
    box-sizing: border-box;
    border: none;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 16px;
cursor: pointer;
}

.fs{
background: #305DB8;
padding-left: 54px;
background-image: url("./img/f\ 1.svg");
background-position: 16px 12px;
background-repeat: no-repeat;
margin-left: 61px;
border-radius: 5px;
position: relative;
}

.fs::before{
    content: " ";
    width: 1px;
    height: 28px;
    background: #0A162F;
mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    top: 10px;
    left: 48px;
}

.fs:hover{
    background: #022263;
    background-image: url("./img/f\ 1.svg");
background-position: 16px 12px;
background-repeat: no-repeat;
}

.google{
background: #DF4A32;
padding-left: 52px;
background-image: url("./img/G+.svg");
background-position: 12px 14px;
background-repeat: no-repeat;
margin-right: 8px;
border-radius: 5px;
position: relative;
}

.google::before{
    content: " ";
    width: 1px;
height: 28px;
background: #2B0D09;
mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    left: 49px;
top: 10px;

}

.google:hover{
    background: #AB1F09;
    background-image: url("./img/G+.svg");
background-position: 12px 14px;
background-repeat: no-repeat;
}

.or{
    font-family: 'Ubuntu';
    font-weight: 400;
font-size: 14px;
line-height: 14px;
text-align: center;
color: #848484;
margin-top: 31px;
position: relative;
cursor: context-menu;
}

.or::after , .or::before{
    content: "";
    display: block;
    width: 152px;
border: 1px solid #F2F2F2;
position: absolute;
bottom: 5px;
}

.or::after{
left: 58px; 
}

.or::before{
right: 58px;
}

.form{
    margin-left: 57px;
}

.input_text{
    width: 308px;
height: 44.08px;
background: #FFFFFF;
border: 1px solid #F2F2F2;
box-shadow: none;
font-weight: 400;
font-size: 14px;
line-height: 14px;
border-radius: 4px;
padding-left: 20px;
margin-top: 15px;
cursor: pointer;
}   

::placeholder{
    color: #BEBEBE;
}

.input_text:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox_container{
    position: relative;
}

.checkbox{
    position: absolute;
  z-index: -1;
  opacity: 0;
    width: 20px;
height: 20px;
margin-top: 12px;
cursor: pointer;
}

.checkbox+.checkbox_text{
    display: inline-flex;
    align-items: center;
    user-select: none;
    gap: 8px;
}

.checkbox+.checkbox_text::before{
    content: "";
    display: inline-block;
border: 1px solid #F2F2F2;
    width: 20px;
height: 20px;
}

.checkbox:checked+.checkbox_text::before{
    border-color: rgba(242, 242, 242, 1);
    background-color:  rgba(0, 0, 0, 0.0001);
    background-image: url(./img/checbox.svg);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.checkbox_text{
    width: 260px;
height: 20px;
    font-weight: 400;
font-size: 14px;
line-height: 14px;
position: absolute;
top: 14px;
}

.green{
    color: #3CB878;
    position: absolute;
    left: 127px;
}

.green:hover{
    color: #01813F;
    text-decoration:underline;
}


.create_account{
    width: 332px;
height: 46px;
color: #FFFFFF;
font-size: 16px;
line-height: 16px;
background: rgba(60, 184, 120, 0.8);
border: none;
border-radius: 4px;
margin-top: 52px;
font-family: 'Ubuntu', sans-serif;
cursor: pointer;
}

.create_account:hover{
    background: #01813F;
}
